body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    flex: 1;
}

main {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    width: 100%;
}

.grid-col1 {
    display: flex;
    flex-wrap: wrap;
}

.grid-col2 {
    display: flex;
    flex: 1;
}

figure {
    margin: 0 1em 2em 1em;
    width: 240px;
    text-align: center;
    box-sizing: border-box;
    background-color: beige;
}

figure h2 {
    margin: 8px 10px;
    text-align: center;
}

figure img {
    width: 82%;
}

figcaption {
    text-align: center;
}

footer {
    background-color: grey;
    display: flex;
    align-items: flex-end;
}
footer .wrapper {
    /*max-width: 1024px;*/
    /*margin: 0 auto;*/
    padding: 20px;
    color: white;
}

.social-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.social-icons li {
    font-size: 26px;
    margin: 2px 7px;
}

