@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&family=Ubuntu:wght@300;400;500&display=swap');

/*
font-family: 'Nunito Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.wrapper {
    display: flex;
    margin: 0 auto;
}

.page-title {
    font-size: 20px;
}

.logo-img img {
    max-width: 180px;
}

.right-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav li {
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
    margin-left: 5px;
    cursor: pointer;
}

.main-nav li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btns >a {
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
    padding: 8px 17px;
    border: 1px solid black;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

main {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    width: 100%;
    margin: 25px 10px;
}

.grid-col1 {
    display: flex;
    flex-wrap: wrap;
}

.grid-col2 {
    display: flex;
    flex: 1;
}

figure {
    margin: 0 1em 2em 0;
    width: 240px;
    text-align: center;
    box-sizing: border-box;
    background-color: beige;
}

figure h2 {
    margin: 8px 10px;
    text-align: center;
}

figure img {
    width: 82%;
}

footer {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .wrapper {
    /*max-width: 1024px;*/
    /*margin: 0 auto;*/
    padding: 20px;
    color: white;
}

.social-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.social-icons li {
    font-size: 26px;
    margin: 2px 7px;
}

