.banner {
    background-image: url("../img/banner2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
}

#change_password{
    display: flex;
    flex-direction: column;
}
.middle_page{
    display: flex;
    flex-direction: row;
    background-color: #ffb48f;
    margin: 0 2.5%;
    padding: 0 2%;
    border-radius: 8px;
}
.profile_img{
    padding: 50px;
}


#change_password{
    display: flex;
    flex-direction: column;
}

.middle_page{
    display: flex;
    flex-direction: row;
}
.profile_img{
    padding: 50px;
}
.profile_img img{
    width: 300px;
}
.profile_info{
    width: 400px;
    position: relative;

}
.change_password{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    font-weight : bold ;
}

.change_password button{
    width: 70px;
    font-weight : bold ;
}
#password_two{
    margin-bottom: 5px;
}
